<ion-header>
  <ion-toolbar>
    <ion-buttons slot="checkmark-circle-outlinet">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>modalEvent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>name event :</ion-label>
    <ion-input [(ngModel)]="result.name"></ion-input>
  </ion-item>
  <ion-button (click)="setType('one')">
    on time
    <ion-icon
      *ngIf="(result.type === 'one' )"
      slot="end"
      name="checkmark-circle-outline"
    ></ion-icon> </ion-button
  ><ion-button (click)="setType('duration')">
    duration
    <ion-icon
      *ngIf="(result.type === 'duration' )"
      slot="end"
      name="checkmark-circle-outline"
    ></ion-icon> </ion-button
  ><ion-button (click)="setType('date')">
    every date
    <ion-icon
      *ngIf="(result.type === 'date' )"
      slot="end"
      name="checkmark-circle-outline"
    ></ion-icon>
  </ion-button>

  <div *ngIf="(result.type !== ''  && result.type !== 'one')">
    <ion-button (click)="setIsHours()">
      isHours
      <ion-icon
        *ngIf="(result.isHours)"
        slot="end"
        name="checkmark-circle-outline"
      ></ion-icon> </ion-button
    ><ion-button (click)="setIsDay()">
      isDay
      <ion-icon
        *ngIf="(result.isDay)"
        slot="end"
        name="checkmark-circle-outline"
      ></ion-icon>
    </ion-button>
  </div>
  <ion-item *ngIf="(result.type === 'one')">
    <ion-datetime [(ngModel)]="result.fullDate"></ion-datetime>
  </ion-item>

  <ion-accordion-group *ngIf="(result.type === 'date')">
    <ion-accordion *ngIf="( result.isHours )" value="time">
      <ion-item slot="header">
        <ion-label>time</ion-label>
      </ion-item>

      <ion-list slot="content">
        <!-- just itme -->
        <ion-item>
          <ion-label>
            time<ion-datetime
              presentation="time"
              [(ngModel)]="result.time"
            ></ion-datetime
          ></ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="moth" *ngIf="(result.isDay )">
      <ion-item slot="header">
        <ion-label> select a day </ion-label>
      </ion-item>
      <ion-list slot="content">
        <!-- just the name of a day -->
        <ion-list>
          <ion-item>
            <ion-label>Monday</ion-label>
            <ion-checkbox
              value="Monday"
              [(ngModel)]="result.days[0]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Tuesday</ion-label>
            <ion-checkbox
              value="Tuesday"
              [(ngModel)]="result.days[1]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Wednesday</ion-label>
            <ion-checkbox
              value="Wednesday"
              [(ngModel)]="result.days[2]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Thursday</ion-label>
            <ion-checkbox
              value="Thursday"
              [(ngModel)]="result.days[3]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Friday</ion-label>
            <ion-checkbox
              value="Friday"
              [(ngModel)]="result.days[4]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Saturday</ion-label>
            <ion-checkbox
              value="Saturday"
              [(ngModel)]="result.days[5]"
            ></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Sunday</ion-label>
            <ion-checkbox
              value="Sunday"
              [(ngModel)]="result.days[6]"
            ></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>every day</ion-label>
            <ion-checkbox
              value="everyDay"
              [(ngModel)]="result.days[7]"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <div *ngIf="(result.type === 'duration')">
    <ion-item *ngIf="(result.isHours)">
      <ion-range min="1" max="24" [(ngModel)]="result.rangeHours"> </ion-range>
      every {{ result.rangeHours }} hours
    </ion-item>
    <ion-item *ngIf="(result.isDay)">
      <ion-label>
        time<ion-datetime
          presentation="time"
          [(ngModel)]="result.time"
        ></ion-datetime
      ></ion-label>
    </ion-item>
    <ion-item *ngIf="(result.isDay)">
      <ion-range min="1" max="7" [(ngModel)]="result.rangeDays"> </ion-range>
      every {{ result.rangeDays }} days
    </ion-item>
  </div>

  <ion-button id="open-modal">Open Datetime Modal</ion-button>
  <ion-modal trigger="open-modal" [swipeToClose]="true">
    <ng-template>
      <ion-label>start</ion-label>
      <ion-item>
        <ion-datetime [(ngModel)]="result.start"></ion-datetime>
      </ion-item>
      <ion-label>end</ion-label>
      <ion-item>
        <ion-datetime [(ngModel)]="result.end"></ion-datetime>
      </ion-item>
    </ng-template>
  </ion-modal>
  <ion-button (click)="submit()">submit</ion-button>
</ion-content>
