<ion-header>
  <ion-toolbar>
    <ion-title>memoryPuzzle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" align="center">
    Memory Puzzle! Great choice. <br />
    Choose your level
  </div>

  <ion-button
    expand="block"
    routerLink="/games/memory-puzzle/level1"
    routerDirection="forward"
  >
    level 1
  </ion-button>

  <ion-button
    expand="block"
    routerLink="/games/memory-puzzle/level2"
    routerDirection="forward"
  >
    level 2
  </ion-button>

  <ion-button
    expand="block"
    routerLink="/games/memory-puzzle/level3"
    routerDirection="forward"
    >level 3
  </ion-button>
</ion-content>
