<!-- <ion-tabs>
  <ion-tab [root]="home" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="reminder" tabTitle="Reminder" tabIcon="alarm"></ion-tab>
  <ion-tab
    [root]="games"
    tabTitle="Games"
    tabIcon="game-controller-b"
  ></ion-tab>
  <ion-tab [root]="tracking" tabTitle="Tracking" tabIcon="navigate"> </ion-tab>
</ion-tabs> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reminder">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>reminder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracking">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>tracking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
