<ion-content>
  <div class="container">
    <ion-card-header>
      <div class="notif">
        <img src="assets/imgs/ring.png" />
        <img src="assets/imgs/user.png" />
      </div>
      <ion-card-title class="card-title-center"
        >Hi, {{userName}}</ion-card-title
      >

      <ion-card-content>
        Glad to see you again! What do you want to do today ?
      </ion-card-content>
      <div class="img">
        <img
          src="assets/imgs/Pink Elegant Lash Makeup Brow artist Beauty Logo.gif"
          alt="voithos_logo_mobile_app"
        />
      </div>
      <ion-item transparent>
        <img
          icon-smalluser
          src="assets/imgs/Pink Elegant Lash Makeup Brow artist Beauty Logo.png"
        />
        <ion-input
          name="email"
          type="email"
          placeholder="your emergency contact"
          ngModel
          required
        ></ion-input>
      </ion-item>
    </ion-card-header>
    <div class="bottomGroups">
      <ion-card-content> </ion-card-content>
      <ion-button class="logout" expand="block" (click)="onGoodbye()">
        Sign out
      </ion-button>
    </div>
  </div></ion-content
>
