<ion-content padding>
  <ion-card>
    <ion-card-header>
      <div class="img">
        <img src="assets/imgs/VOITHOS-LOGO.png" alt="voithos_logo_mobile_app" />
      </div>
      <ion-card-subtitle class="card-subtitle-center"
        ><b>Leading The Way For An Easy Life</b>
      </ion-card-subtitle>
      <ion-card-title class="card-title-center"
        >Welcome, {{userName}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      a welcoming phrase if you like, for any home page , generic chwaya
    </ion-card-content>
    <a routerLink="tablinks"> tablinks</a>
    <ion-button (click)="onGoodbye()"> Sign out </ion-button>
  </ion-card></ion-content
>
