ion-content {
  .card-subtitle-center {
    display: flex;
    justify-content: center; //method number 1 in text centering
    color: #41b89a;
  }

  .card-title-center {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    // method number 2 in text centering
  }

  .img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
